[Unit]
Description={{ gobgp_service_name }} service
After=network.target

[Service]
User={{ gobgp_service_user }}
Group={{ gobgp_service_group }}
ExecStart={{ gobgp_install_prefix }}/bin/gobgpd --log-plain --config-file={{ gobgp_config_dir }}/{{ gobgp_config_file }}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK

[Install]
WantedBy=multi-user.target
